<%- include("header") -%>

<div class="box" id="heading">
  <h1>About</h1>
  <a href="<%= "/work" %>" >Work TDL</a>
  <a href="<%= "/about" %>">About</a>
  <a href="<%= "/" %>">Daily TDL</a>
</div>

<div class="box">
  <p>This to-do-list saves any data entered into it as long as the server is online. You can check off completed tasks. Currently I only have a work/daily TDL.</p>
</div>
<%- include("footer") -%>
