<%- include("header") -%>



  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
    <a href="<%= "/work" %>" >Work TDL</a>
    <a href="<%= "/about" %>">About</a>
    <a href="<%= "/" %>">Daily TDL</a>
  </div>

  <div class="box">
    <% for (var i=0; i< newListItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>
    <%  } %>



    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="Add a New Item" autocomplete="off">
      <button type="submit" name="list" value= <%= listTitle %>> + </button>
    </form>


  </div>





<%- include("footer") -%>
